@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* Monument Extended Alternative - Using Anton as a similar bold condensed font */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* If you have Monument Extended font files, you can add them here using @font-face */
/* For now, using Anton which has a similar bold, impactful look */